
.block {
    margin-top: 3vw;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.prev {
    margin-left: 10vw;
}
.next {
    margin-right: 10vw;
}
.container {
    width: 50vw;
    margin: auto;
    border: 1px solid black;
    overflow: hidden;
}
.slider {
    width: 50vw;
    height: 37vw;
    position: relative;   
}
.slider img {
    width: 100%;
    display: block;
    position: absolute;
    transition: 0.5s all ease-in-out; 
    opacity: 0;
    

    
}

